/* **파일의 순서가 중요! ex) @import "variable.css"; 가 더 아래에 있다면 적용안될거임 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css"; /* @import "reset.css"; ':'세미콜론 잊지말것! */
@import "variable.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/*screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chating.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 150vh;
}
/* 모든 화면에 적용하기 때문에 여기에 써놓는 편이심 선생님은 */

.main-screen {
  padding: 0px var(--horizontal-space);
}
