.cog-dot {
  position: relative;
  left: 98px;
  top: -23px;
  width: 5px;
  height: 5px;
}

.Recommended-friends span {
  margin: 110px 0px;
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.open-chat {
  margin-top: 15px;
}

.open-chat__header {
  margin-bottom: 25px;
}
.open-chat__header div {
  opacity: 0.5;
}

.openchat-list {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.openchat-list__column {
  position: relative;
}
.openchat-list__title {
  font-weight: 600;
  color: #1a1a1a;
  font-size: 15pt;
  margin-bottom: 10px;
}
.openchat-list__memgers {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.openchat-list__memgers img {
  width: 20px;
  height: 20px;
  border-radius: 7px;
  margin-right: 5px;
}
.openchat-list__memgers-count {
  font-size: 14px;
}
.openchat-list__memgers .divider {
  /* 이렇게 하는 이유는 코드상에 또 다른 divider가 있을수도 있어서 */
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 5px;
}
.openchat-list__memgers-status {
  color: #ff92d5;
}

.openchat-list__column__pic {
  width: 104px;
  height: 104px;
  border-radius: 10px;
}

.openchat-list__column__heart {
  width: 60px;
  height: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: absolute;
  bottom: 7px;
  right: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.1);
    /* 숫자를 5로하면 크기만변하지 흔들리지 않는데...사이즈계산에 문제가 있는지 작으면 위아래로 흔들림 */
  }
  100% {
    color: white;
    transform: none;
  }
}
.openchat-list__column__heart:hover i {
  /*  openchat-list__column__heart 의 아무곳에든지 마우스를 가져다 놔도, icoon에만 효과가 적용됨*/
  will-change: transform;
  /* will-change : 브라우저에게 렌더링 힌트를 주고 요소에 실행되길 기대하는 변화를 명시함
  -> 브라우저에게 어떤 것이 변할 것인지 말해주는것, 그러면 애니메이션을 좀 더 낫게 만들음
   이 상황에서는 하트모양이 scale(1.1)로 사이즈가 작아서 흔들리던게 will-change로 명시해주면 흔들림이 없어짐
   일종의 브라우저를 돕는 행위인거임, 이것이 변하는게 확실하다고 말해주는거.. 그래서 브라우저가 컴퓨터의 그래픽카드를 이용해서 애니메이션을 가속화 할 수 있는거임  */
  animation: heartBeat 1s linear infinite;
}
