.cog-dot {
  position: relative;
  left: 98px;
  top: -23px;
  width: 5px;
  height: 5px;
}
.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--main-border);
}
.find-icons__icon {
  display: flex;
  flex-direction: column; /*row는 행으로, 옆으로 정렬됨  */
  align-items: center;
}
.find-icons__icon i {
  font-size: 35px; /* 아이콘을 폰트사이즈로 크기 바꿀수 있음 ㅋㅋ    */
}
.find-icons__icon span {
  margin-top: 15px;
}
