#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px; /* screen-header에 margin-borrom을 추가한게 있어서 friedns스크린에서는 이상해보여서 추가함 */
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.line {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}
.line__header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute; /* 모든걸 가리고 있음, 애니메이션으로 사라지게 할거임*/
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  /* 이렇게하면 없어지긴 하는데,  애니메이션이 끝나면 다시 처음으로 돌아감 */
  /*  forwards를 적어야 애니메이션의 마지막 keyframe을 기억하고 유지함 
  근데 chats 아이콘 클릭하려고 하면 아직 element가 남아 있기 때문에 클릭이 안됨...
  visibility: hidden; 으로 마우스에 걸리지 않게 빠지게 해야함*/
  animation-delay: 2s;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* 마우스에 걸리지 않게 빠져버림, but아직 html에 남아있어 제거하고 싶으면 JavaScript가 필요함 */
  }
}
