body {
  height: 100vh;
  background-color: rgb(133, 202, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 10px;
  height: 10px;
  margin: 3px;
  background-color: white;
}
.dot {
  border-radius: 50%;
}
#first {
  justify-content: space-evenly;
  animation: myani_first 2s infinite;
}
@keyframes myani_first {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.stick {
  width: 12px;
  height: 60px;
  animation: myani_stick 1s ease-in-out infinite;
}

.honey {
  animation-delay: 0.1s;
}
.jam {
  animation-delay: 0.2s;
}
.butter {
  animation-delay: 0.3s;
}
.bread {
  animation-delay: 0.4s;
}
@keyframes myani_stick {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 2);
  }
  50%,
  100% {
    transform: scale(1, 1);
  }
}
