html {
  background-color: rgb(236, 242, 245);
  font-family: serif;
  font-weight: bolder;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: serif;
}
header {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header > div {
  margin: 20px;
  border: 9px solid white;
  width: 215px;
  height: 350px;
  background-color: tomato;
}
div:nth-child(2) {
  background-color: teal;
}
div:nth-child(3) {
  background-color: burlywood;
}
div:nth-child(4) {
  background-color: thistle;
}
div > div {
  height: 130px;
  background-color: white;
  position: relative;
  top: 20px;
  line-height: 50px;
}
span {
  display: block;
  position: relative;
  top: 20px;
}
.big {
  font-size: 150%;
}
